.MovieDetail--Container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.MovieDetail--Card{
  width: 50vh;
}
.Cardfooter{
  display: flex;
  justify-content: end;
}
.deleteItem{
  color: rgb(181, 42, 42);
}